---
import Social from './Social.astro';
---
<footer>
  <p>
    Follow me on
  </p>
  <div>
    <Social platform="github" username="rxxbyy" />
    <Social platform="linkedin" username="in/manuel21" />
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
  }

  footer p {
    font-size: 1.1rem;
    width: 100%;
  }

  footer div {
    display: flex;
    flex-direction: row;
  }

</style>