---
type platform = string;
type username = string;

const social: Map<platform, username> = new Map();

social.set("github", "rxxbyy");
social.set("linkedin", "manuel21");
social.set("instagram", "mangolito.21");
---
<footer>
  <div>
    
  </div>
</footer>