---
import Hamburger from './Hamburger.astro';
---
<header>
    <Hamburger />
    <nav class="nav-links ">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <a href="/tags">Tags</a>
    </nav>
</header>

<style>
    header {
        display: flex;
        flex-direction: row;
    }
    nav {
        display: flex;
        width: 100%;
        padding: 0.5rem;
        background-color: #1b1b1b;
    }

    nav a {
        display: flex;
        padding: 0.5rem;
        justify-items: center;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    nav a:hover {
        background-color: #000;
    }

    .expanded {
        display: unset;
    }

    .hamburger {
        padding-right: 20px;
        cursor: pointer;
    }

    .hamburger .line {
        display: block;
        width: 40px;
        height: 5px;
        margin-bottom: 10px;
        background-color: #ff9776;
    }

    @media screen and (max-width: 636px) {
        header {
            flex-direction: column;
        }

        nav {
            flex-direction: column;
        }

        .hamburger {
            display: none;
        }
    }
</style>