---
const { platform, username } = Astro.props;
---
<a href=`https://www.${platform}.com/${username}` target="_blank">{platform}</a>

<style>
    a {
        padding: 0.5rem 1rem;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: bold;
    }
</style>
