---
import BaseLayout from './BaseLayout.astro';
const { frontmatter }: Record<string, any> = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
<p>Written by {frontmatter.author} on {frontmatter.pubDate.toString().slice(0, 10)}</p>
<slot />
</BaseLayout>